@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome @ViewData["EmployeeName"]</h1>

    @if (Context.Session.GetInt32("UserPriveleges") == 1)
    {
        <a asp-controller="Shifts" asp-action="Index">View Shifts</a>
        <a asp-controller="TimeOffRequests" asp-action="Create">Request Time Off</a>
    }
    else if (Context.Session.GetInt32("UserPriveleges") == 2)
    {
        <a asp-controller="Schedule" asp-action="Index">Shedules</a>
        <a asp-controller="Shifts" asp-action="Index">Shifts</a>
        <a asp-controller="Employee" asp-action="Index">Employees</a>
        <a asp-controller="TimeOffRequests" asp-action="Index">Time Off Requests</a>
    }

</div>
