@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Home";
}

<h1>Welcome @ViewData["EmployeeName"]</h1>
<div class="text-center">
    <br />
    @if (Context.Session.GetInt32("UserPriveleges") == 1)
    {
        <p class="jumbotron">
            <a asp-controller="Shifts" asp-action="Index">View Schedule</a> | 
            <a asp-controller="TimeOffRequests" asp-action="Create">Request Time Off</a>
        </p>
    }
    else if (Context.Session.GetInt32("UserPriveleges") == 2)
    {
        <p class="jumbotron">
            <a asp-controller="Schedule" asp-action="Index">Schedules</a> |
            <a asp-controller="Employee" asp-action="Index">Employees</a> |
            <a asp-controller="TimeOffRequests" asp-action="Index">Time Off Requests (@ViewData["NewRequests"] new)</a>
        </p>

    }
    <br />
</div>
