
@{
    ViewData["Title"] = "Registration Unfinished";
}

<h1>Registration Unfinished</h1>

<p>Thank you for creating an account. Your employer has not set up the rest of your account. Ensure you are creating an account with the same email that your employer is referencing as yours.</p>